<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.testui7">

    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 支付权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="cn.bmob.pay.v3.act.PayAct" />
        <activity
            android:name=".Activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.SearchActivity" />
        <activity android:name=".Activity.DownloadActivity"
            android:parentActivityName=".Activity.MainActivity"/>
        <activity
            android:name=".Activity.UserinfoActivity"
            android:parentActivityName=".Activity.MainActivity" />
        <activity android:name=".Activity.LoginActivity" />
        <activity
            android:name=".Activity.RegisterActivity"
            android:parentActivityName=".Activity.LoginActivity" />
        <activity
            android:name=".Activity.ValidateActivity"
            android:parentActivityName=".Activity.RegisterActivity" />
        <activity
            android:name=".Activity.FinalRegisterActivity"
            android:parentActivityName=".Activity.ValidateActivity" />
        <activity
            android:name=".Activity.MoneyActivity"
            android:parentActivityName=".Activity.MainActivity" />
        <activity
            android:name=".Activity.AddActivity"
            android:parentActivityName=".Activity.MoneyActivity" />
        <activity android:name=".Activity.VideoInfoActivity"
            android:parentActivityName=".Activity.MainActivity"/>
        <activity android:name=".Activity.VideoPlayActivity" />
        <activity android:name=".Activity.FenleiActivity" />

        <activity android:name=".Activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.ChangeInfoActivity"
            android:parentActivityName=".Activity.UserinfoActivity" />
        <activity android:name=".Activity.UploadActivity"
            android:parentActivityName=".Activity.MainActivity"></activity>
    </application>

</manifest>